body {
  background-image: image-url("symphony.png");
  font-family: "Andale Mono",AndaleMono,monospace;
}

.navbar-brand {
  font-family: 'Space Mono', monospace;
  font-size: 250%;
  font-weight: bold;
} 